<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Survey Form</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>    
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type ="text/javascript">
         $(document). ready(function (){
            // this triggers the connection event in our server!
            var socket  = io.connect();
            // we'll write all the socket stuff after the above line!
            $('button').click(function (){
                var data = {
                    name: document.getElementById("name").value ,
                    location: document.getElementById("location").value,
                    language: document.getElementById("language").value,
                    comment: document.getElementById("comment").value,
                }
                socket.emit( "button_clicked", {client:  data});
            });
            socket.on( 'server_response', function (data){
                console.log( data);
            document.getElementById("display").innerHTML = `<h4>You emitted the following information to the server: { name: '${data.server.name}', location: '${data.server.location}', language: '${data.server.language}', comment: '${data.server.comment}'} </h4><h4>Your lucky number emitted by the server is ${ data.rand }.</h4`; 
            });
        })
    </script>
</head>
<body>
    <div id="display">

    </div>
    <!-- <form action="" method="post"> -->
        <label for="name">Your Name:</label>
        <input type="text" name="name" id="name">
        <label for="location">Dojo Location:</label>
        <select name="location" id="location">
            <option value="San Jose">San Jose</option>
            <option value="Burbank">Burbank</option>
            <option value="Mountain View">Mountain View</option>
        </select>
        <label for="language">Favorite Language:</label>
        <select name="language" id="language">
            <option value="Swift">Swift</option>
            <option value="Javascript">Javascript</option>
            <option value="Python">Python</option>
        </select>
        <label for="comment">Comment (optional):</label>
        <textarea name="comment" id="comment" cols="30" rows="5"></textarea>
        <button type="submit" class="btn" id="button">Submit</button>
    <!-- </form> -->
</body>
</html>